*{
  box-sizing: border-box;
  margin: 0;
  
}

/*Home page styling*/
body{
  background-image: url('m1 (2).jpg');
  background-size: 12.5%;
  color:  #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
  

}

a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;
    }

.header{
  background-color: lavender;
  padding: 0.7rem;;
  text-align: right;
  position: sticky;
  z-index: 1000;
  top: 0;
  box-shadow: 0 4px 12px rgba(114, 188, 248, 0.5); 
  
}
.header-content{
  justify-content: space-between;
  display: flex;
  max-width: 1200px;

}

.logo-area{
  display: flex;
  align-items: center;
  grid-area: 0.7rem; 
  padding: 0 3.5rem;
  
}

.logo{
  width: 40px;
  height: 40px;
  border-radius: 5%;
  object-fit: contain;
}

.brand-name{
  color: deepskyblue;
  font-size: 20px;
  font-family: century gothic;
  margin-left: 0.7rem;
  font-weight: 700;
}

.nav-menu{
  display: flex;
  gap: 2.5rem;
  padding-top: 0.5rem;
}

.nav-menu a{
  color: deepskyblue;
  font-size: 1.1rem;
  font-family: century gothic;
  font-weight: 700;
  position: relative;
  padding-bottom: 4px;
}

.nav-menu a::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: blueviolet;
  transition: width 0.3s ease;
  }

.nav-menu a:hover::after {
width: 100%;
}

.nav-menu a:hover,
.nav-menu a.active {
color:blueviolet;
}

.nav-menu .home-link:hover {
  color: blueviolet;
}

.container{  
  max-width: 1200px;
  margin: 10px auto;
  padding-top: 1.4rem;
  text-align: left;
  width: 100%;
  
}

.container h1{
  font-family: century gothic;
  font-size: 2.5rem;
  color: deepskyblue;
  margin-bottom: 1rem;
  text-align: center;
}
.container p{
  font-family: century gothic;
  font-size: 1.2rem;
  color: #ffffff;
  line-height: 1.6;
  margin-left: 20px;

}

.container-box {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.box{
  width: 45%;
  padding: 20px;
  margin: 20px;
  background-color: lavender;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 30 18px 30px 30px rgba(230, 6, 181, 0.2);
}

.box h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 2rem;
  color: #003366;
  margin-bottom: 0.5rem;
  text-align: center;
}

.box p {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

.box li {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1rem;
  color: #444;
  margin-bottom: 0.5rem;
  list-style-type: disc; /* or square, circle, none */
  padding-left: 1rem;
}
.box {
  width: 45%;
  padding: 20px;
  background-color: lavender;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Hover effect */
.box:hover, .box1:hover{
  background-color: lavender;
  filter: brightness(100%);
  transform: scale(1.03);
  box-shadow: 30 18px 30px 30px rgba(230, 6, 181, 0.2);
}

.contact-me-btn{
  display: inline-block;
  padding: 10px 20px;
  margin-left: 35%;
  background-color: blueviolet;
  color: white;
  font-family: century gothic;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.contact-me-btn:hover {
      background-color: deepskyblue;
    }

.mission {
 background-color: lightblue;
 padding: 20px;
  width: 100vw;
  display:flex;
  margin-left: -45px;
}


.mission h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 2rem;
  color: #003366;
  margin-bottom: 0.5rem;
}
.mission p {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

.box1 {
 width: 45%;
  padding: 40px;
  margin: 20px;
  background-color: lavender;
  border: 1px solid #ccc;
}
 
footer{
 background-color: blueviolet;
  text-align: center;
  font-family: century gothic;
  font-weight: 400;
  color: black;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  margin-top: -1%;

}
